body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #172696;
    background: #F0F0F0;
}


span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #172696;
}
.navbar {
	background-color: #3f51b5 !important
}

.postings {
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

footer {
    background-color: #3f51b5 !important
}

#profile, #profile2 {
    margin: 0px 20px;
    padding: 20px;
}