<!doctype html>
<html>
<head>
</head>
<body>
<section th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><i class="material-icons">favorite_border</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/potato">Logout</a></li>
            </ul>
        </div>
    </nav>
</section>
</body>
</html>

