<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<h1>My Profile</h1>
<img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=beautiful-beauty-blue-414612.jpg&fm=jpg" height="200px" width="200px"/>
<p>Username: <span th:text="${principal.username}"/></p>
<p>First Name: <span th:text="${principal.firstName}"/></p>
<p>Last Name: <span th:text="${principal.lastName}"/></p>
<p>Date of Birth: <span th:text="${principal.dateofBirth}"/></p>
<p>Bio: <span th:text="${principal.bio}"/></p>
<a href="/potato">Log Out</a>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>