<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}"  media="screen,projection"/>
</head>

<body>
<div th:replace="fragments/navbar :: navbar" role="navbar"></div>
<main>
    <center>
        <div class="section"></div>

        <h5 class="indigo-text">Please, Sign Up!</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <form action="#" class="col s12" th:action="@{/signup}" th:object="${newuser}"  method="post">
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s6'>
                            <input class='validate' type='text' th:field="*{username}" name='username' id='username' />
                            <label for='username'>Enter your Username</label>
                        </div>
                        <div class='input-field col s6'>
                            <input class='validate' type='password' th:field="*{password}" name='password' id='password' />
                            <label for='password'>Enter your Password</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s6'>
                            <input class='validate'type="text" th:field="*{firstName}" id="firstname"/>
                            <label for="firstname">Enter your First Name</label>
                        </div>
                        <div class='input-field col s6'>
                            <input class='validate' type='text' th:field="*{lastName}" id="lastname"/>
                            <label for='lastname'>Enter your Last Name</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s6'>
                            <input class='validate' type="date" th:field="*{dateofBirth}" id="datepicker" />
                            <label for='datepicker'></label>
                        </div>
                        <div class='input-field col s6'>
                            <input class='validate' type='text' th:field="*{bio}" id="bio"/>
                            <label for='bio'>Enter your Bio</label>
                        </div>
                        <label style='float: right;'>
                            <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
                        </label>
                    </div>

                    <br />
                    <center>
                        <div class='row'>
                            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Sign Up</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
        <a href="/signup">Create account</a><br>
        <a href="/">Home</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>
<footer class="footer">
    <div>
        <p class="text-muted"><footer th:replace="fragments/footer :: footer" role="footer"></footer></p>
    </div>
</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>